<h1>This is our Photo Gallery Website</h1>
<%= link_to "Add a New Photo" , new_photo_path %>

<% @photos.each do |photo| %>
  <h2><%= link_to photo.title, photo %></h2>
    <%= image_tag url_for(photo.image)%>
  <p><%= photo.user %></p>
<% end %>
